In [64]:
import pandas as pd
import os
os.chdir("C:\\Users\\Rashmi HP\\Downloads")  #to set working directory

In [65]:
os.getcwd()

'C:\\Users\\Rashmi HP\\Downloads'

In [66]:
stack=pd.read_csv("stackoverflow-1.csv")

In [67]:
stack.shape

(6991, 23)

In [68]:
stack.head()

,RespondentID,Country,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,Remote,CareerSatisfaction,Datascientist,...,DevOps,Embedded developer,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,
0,3,United Kingdom,113750.0,20,1,1,10000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
1,15,United Kingdom,100000.0,20,0,1,5000.0,Remote,8,0,...,0,1,0,0,0,0,0,0,0,NaN
2,18,United States,130000.0,20,1,1,1000.0,Remote,9,0,...,1,1,0,0,0,0,1,0,1,NaN
3,19,United States,82500.0,3,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
4,26,United States,175000.0,16,0,1,10000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN

In [69]:
stack.isnull().sum()

RespondentID                               0
Country                                    0
Salary                                     0
YearsCodedJob                              0
OpenSource                                 0
Hobby                                      0
CompanySizeNumber                         31
Remote                                     0
CareerSatisfaction                         0
Datascientist                              0
Database administrator                     0
Desktop applications developer             0
Developer with stats/math background       0
DevOps                                     0
Embedded developer                         0
Graphic designer                           0
Graphics programming                       0
Machine learning specialist                0
Mobile developer                           0
Quality assurance engineer                 0
Systems administrator                      0
Web developer                              0
                                        6991
dtype: int64

In [70]:
type(stack)

pandas.core.frame.DataFrame

In [71]:
stack['Country'].unique()
#len(stack['Country'].unique())

array(['United Kingdom', 'United States', 'Germany', 'India', 'Canada'],
      dtype=object)

In [73]:
stack.describe()

,RespondentID,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,CareerSatisfaction,Datascientist,Database administrator,Desktop applications developer,...,DevOps,Embedded developer,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,
count,6991.000000,6991.000000,6991.000000,6991.000000,6991.000000,6960.000000,6991.000000,6991.000000,6991.000000,6991.000000,...,6991.000000,6991.000000,6991.000000,6991.000000,6991.000000,6991.000000,6991.000000,6991.000000,6991.000000,0.0
mean,26618.464597,72203.905007,7.494064,0.344443,0.759691,2099.409914,7.578887,0.072093,0.141897,0.284509,...,0.126877,0.080818,0.026749,0.033758,0.032184,0.193964,0.036905,0.113718,0.724074,NaN
std,15932.269919,40093.453720,6.009952,0.475220,0.427302,3723.882407,1.692458,0.258660,0.348969,0.451212,...,0.332859,0.272575,0.161360,0.180618,0.176502,0.395429,0.188541,0.317491,0.447012,NaN
min,3.000000,1101.159888,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,12841.000000,45000.000000,3.000000,0.000000,1.000000,20.000000,7.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,26533.000000,65000.000000,5.000000,0.000000,1.000000,100.000000,8.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
75%,42056.000000,100000.000000,11.000000,1.000000,1.000000,1000.000000,9.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
max,51391.000000,197000.000000,20.000000,1.000000,1.000000,10000.000000,10.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN

In [158]:
stack[(stack['Country'] == 'India') & (stack['Datascientist'] == 1)].shape

(43, 24)

In [155]:
stack.groupby('Country')['Datascientist'].count()

Country
Canada             619
Germany            950
India              666
United Kingdom    1270
United States     3486
Name: Datascientist, dtype: int64

In [76]:
stack["Remote"].shape

(6991,)

In [77]:
stack[stack.Remote=='Remote'].shape

(718, 23)

In [78]:
filtered_df = stack[(stack['Country'] == 'Germany') & (stack['YearsCodedJob'] > 10)]

In [79]:
filtered_df.shape

(181, 23)

In [47]:
filtered_df

,RespondentID,Country,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,Remote,CareerSatisfaction,Datascientist,...,DevOps,Embedded developer,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,
13,103,Germany,83870.96774,17,1,1,20.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,0,NaN
168,928,Germany,64516.12903,16,0,1,100.0,Not remote,8,0,...,0,0,0,0,0,0,0,1,0,NaN
189,1040,Germany,86021.50538,13,1,1,100.0,Not remote,7,0,...,1,0,0,0,0,0,0,0,1,NaN
196,1087,Germany,69892.47312,15,0,0,10000.0,Not remote,10,0,...,0,0,0,0,0,0,0,0,1,NaN
204,1126,Germany,77419.35484,20,1,0,100.0,Not remote,8,0,...,1,0,0,0,0,0,0,0,1,NaN
241,1322,Germany,54838.70968,16,0,1,1.0,Not remote,6,0,...,0,1,0,0,0,0,0,0,0,NaN
272,1471,Germany,64516.12903,16,0,1,10000.0,Not remote,8,0,...,1,0,0,0,0,0,0,0,1,NaN
295,1580,Germany,60215.05376,19,0,1,500.0,Remote,7,0,...,0,0,0,0,0,0,0,0,0,NaN
348,1823,Germany,59139.78495,20,0,1,100.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,0,NaN
358,1872,Germany,107526.88170,17,0,1,10.0,Not remote,10,1,...,0,0,0,0,0,0,0,0,1,NaN
531,2895,Germany,69892.47312,20,1,1,20.0,Not remote,7,1,...,0,1,0,0,1,0,0,0,0,NaN
579,3304,Germany,90000.00000,20,0,0,1000.0,Remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
619,3761,Germany,46236.55914,20,1,0,1.0,Not remote,8,0,...,0,0,0,0,0,0,1,0,1,NaN
627,3834,Germany,79569.89247,20,0,1,5000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
637,3937,Germany,64193.54839,13,0,1,10000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
642,3972,Germany,40860.21505,14,0,1,10.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,1,NaN
645,4028,Germany,91397.84946,13,0,1,20.0,Not remote,8,0,...,0,1,0,1,0,1,0,0,0,NaN
691,4467,Germany,86021.50538,19,0,1,100.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,1,NaN
705,4568,Germany,68817.20430,15,1,1,10000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
734,4840,Germany,64516.12903,13,0,0,100.0,Not remote,7,0,...,0,0,0,0,0,1,0,0,1,NaN
859,5663,Germany,55913.97849,20,0,0,10.0,Not remote,10,0,...,0,0,0,0,0,0,0,0,0,NaN
863,5681,Germany,86021.50538,16,0,0,20.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
870,5714,Germany,86021.50538,20,0,0,20.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
975,6275,Germany,66129.03226,20,0,1,10.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
1025,6498,Germany,59139.78495,14,1,1,100.0,Not remote,3,0,...,0,0,0,0,0,0,0,0,0,NaN
1032,6520,Germany,64516.12903,13,0,1,100.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
1134,7167,Germany,113978.49460,17,1,1,500.0,Not remote,6,0,...,1,0,0,0,0,1,0,0,0,NaN
1161,7602,Germany,91397.84946,15,1,1,10000.0,Not remote,7,0,...,1,0,0,0,0,0,0,0,1,NaN
1199,8035,Germany,75268.81720,14,1,0,100.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
1202,8048,Germany,64516.12903,20,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,43707,Germany,80645.16129,18,0,1,100.0,Not remote,6,1,...,0,0,0,0,0,0,0,1,1,NaN
5553,43711,Germany,96774.19355,20,1,0,10000.0,Not remote,10,1,...,0,0,0,0,1,0,0,0,0,NaN
5717,44498,Germany,64516.12903,11,0,1,20.0,Remote,7,0,...,0,0,0,0,0,0,0,0,0,NaN
5763,44725,Germany,60215.05376,12,0,0,10.0,Not remote,6,1,...,0,0,1,0,0,0,0,0,1,NaN
5806,45009,Germany,64516.12903,20,1,1,20.0,Not remote,8,0,...,0,1,0,0,0,1,0,0,0,NaN
5840,45191,Germany,75268.81720,16,1,1,100.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
5890,45475,Germany,80645.16129,14,1,1,5000.0,Not remote,10,0,...,1,0,0,0,0,0,0,0,1,NaN
5953,45852,Germany,43010.75269,16,1,1,20.0,Not remote,8,1,...,0,0,1,0,0,0,0,1,1,NaN
5972,45929,Germany,51612.90323,12,1,1,20.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,0,NaN
6035,46332,Germany,105913.97850,20,1,1,10000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6084,46530,Germany,73118.27957,12,0,1,100.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6099,46612,Germany,58064.51613,20,1,1,500.0,Not remote,8,0,...,0,1,0,0,0,0,0,0,0,NaN
6126,46750,Germany,75268.81720,20,1,0,100.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,0,NaN
6127,46751,Germany,53763.44086,17,1,1,100.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6128,46758,Germany,53763.44086,11,0,1,5000.0,Not remote,3,0,...,1,0,0,0,0,0,0,0,1,NaN
6155,46907,Germany,50537.63441,11,0,1,100.0,Not remote,5,0,...,0,0,0,0,0,1,0,1,1,NaN
6244,47372,Germany,94623.65591,18,1,1,20.0,Not remote,8,0,...,0,1,0,0,1,1,0,1,1,NaN
6277,47550,Germany,139784.94620,20,1,1,10000.0,Remote,10,1,...,0,0,0,0,1,0,0,0,0,NaN
6381,48196,Germany,76344.08602,18,1,1,20.0,Not remote,7,0,...,1,0,0,0,0,0,0,0,1,NaN
6562,49064,Germany,86021.50538,15,1,1,20.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
6604,49274,Germany,64516.12903,20,1,1,20.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
6615,49302,Germany,50537.63441,16,0,1,10.0,Not remote,8,1,...,0,0,0,0,0,1,0,1,1,NaN
6659,49498,Germany,64516.12903,11,1,1,20.0,Not remote,10,0,...,0,0,0,0,0,0,0,0,1,NaN
6662,49504,Germany,64516.12903,14,0,1,100.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6716,49763,Germany,63440.86022,17,1,1,10000.0,Not remote,6,1,...,0,0,0,0,0,0,0,0,1,NaN
6849,50451,Germany,96774.19355,20,1,1,1000.0,Not remote,9,0,...,1,0,0,0,0,0,0,1,0,NaN
6861,50518,Germany,34946.23656,15,1,1,1.0,Remote,5,0,...,0,1,0,0,0,1,0,1,1,NaN
6929,50981,Germany,68817.20430,20,1,0,1000.0,Not remote,5,0,...,0,0,0,0,0,1,0,0,1,NaN
6944,51078,Germany,64516.12903,20,1,0,10.0,Not remote,4,0,...,0,1,0,0,0,0,0,0,0,NaN
6962,51184,Germany,60215.05376,13,1,0,10000.0,Remote,10,0,...,1,0,0,0,1,0,0,0,1,NaN

In [80]:
stack.groupby('Country')['Salary'].mean().sort_values(ascending=False)

Country
United States     98313.127654
Canada            58226.407451
United Kingdom    53962.871808
Germany           52405.823429
India             11557.674529
Name: Salary, dtype: float64

In [81]:
dummies= pd.get_dummies(stack['Remote'])

In [83]:
dummies.head()

   Not remote  Remote
0           1       0
1           0       1
2           0       1
3           1       0
4           1       0

In [86]:
df_merged = stack.merge(dummies, how='outer', left_index=True, right_index=True)

In [94]:
df_merged.head()

,RespondentID,Country,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,Remote_x,CareerSatisfaction,Datascientist,...,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,,Not remote,Remote_y
0,3,United Kingdom,113750.0,20,1,1,10000.0,Not remote,8,0,...,0,0,0,0,0,0,0,NaN,1,0
1,15,United Kingdom,100000.0,20,0,1,5000.0,Remote,8,0,...,0,0,0,0,0,0,0,NaN,0,1
2,18,United States,130000.0,20,1,1,1000.0,Remote,9,0,...,0,0,0,0,1,0,1,NaN,0,1
3,19,United States,82500.0,3,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,1,NaN,1,0
4,26,United States,175000.0,16,0,1,10000.0,Not remote,7,0,...,0,0,0,0,0,0,1,NaN,1,0

In [161]:
df_merged.groupby('Country')['Remote_y'].sum().sort_values(ascending=False)

Country
United States     475.0
United Kingdom     85.0
India              66.0
Germany            49.0
Canada             43.0
Name: Remote_y, dtype: float64

In [109]:
stack["Mobile developer"].shape

(6991,)

In [163]:
stack.loc[stack['Mobile developer'] == 1].shape

(1356, 24)

In [165]:
stack.loc[stack['Web developer'] == 1].shape

(5062, 24)

In [132]:
d

,RespondentID,Country,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,Remote,CareerSatisfaction,Datascientist,...,DevOps,Embedded developer,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,
12,100,United States,109400.000000,7,1,1,20.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,0,NaN
23,150,United Kingdom,113750.000000,20,1,1,20.0,Not remote,9,0,...,1,0,0,0,0,1,0,0,1,NaN
27,178,United States,120000.000000,4,0,1,20.0,Not remote,10,0,...,1,0,0,0,0,1,0,1,1,NaN
28,183,United Kingdom,131250.000000,14,0,0,20.0,Not remote,10,0,...,0,0,1,1,0,1,0,0,1,NaN
33,199,United States,146000.000000,15,1,1,NaN,Remote,8,0,...,0,0,0,1,0,1,0,0,0,NaN
38,220,United States,50000.000000,2,1,1,10.0,Not remote,4,0,...,0,0,0,0,0,1,0,0,1,NaN
54,292,United States,170000.000000,4,1,1,1000.0,Not remote,7,0,...,0,0,0,0,0,1,0,0,0,NaN
61,348,United States,110000.000000,4,1,1,NaN,Remote,7,0,...,0,0,0,0,0,1,0,0,0,NaN
71,385,United Kingdom,43750.000000,3,0,0,1.0,Not remote,4,0,...,0,0,0,0,0,1,0,0,0,NaN
81,437,Canada,46969.696970,16,0,1,1000.0,Not remote,5,1,...,0,0,0,0,0,1,1,0,1,NaN
93,491,Canada,53030.303030,7,0,0,10.0,Not remote,5,0,...,0,0,0,0,0,1,0,0,0,NaN
101,526,United States,90000.000000,2,0,0,20.0,Not remote,7,0,...,0,0,0,0,0,1,0,0,0,NaN
116,633,United States,115000.000000,20,1,1,100.0,Remote,9,0,...,0,0,0,0,0,1,0,0,1,NaN
118,644,United States,125000.000000,7,1,1,10.0,Remote,9,0,...,0,0,0,0,0,1,0,0,1,NaN
121,669,United States,117250.000000,20,1,1,20.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,1,NaN
122,674,United States,155000.000000,12,1,1,100.0,Not remote,7,0,...,0,0,0,0,0,1,0,0,0,NaN
123,679,Canada,63636.363640,5,0,0,10.0,Not remote,5,0,...,0,0,0,0,0,1,0,1,1,NaN
134,725,United States,107000.000000,13,0,1,NaN,Not remote,7,0,...,0,0,0,0,0,1,0,0,1,NaN
148,810,United States,100000.000000,13,0,0,20.0,Not remote,8,0,...,0,1,0,1,0,1,0,0,0,NaN
155,856,Canada,41893.939390,3,0,1,20.0,Not remote,8,0,...,0,0,0,0,0,1,0,1,1,NaN
160,878,Canada,27272.727270,1,0,1,20.0,Not remote,7,0,...,1,0,0,0,0,1,0,1,1,NaN
161,884,Canada,83333.333330,14,0,1,1000.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,1,NaN
163,900,United States,137000.000000,9,0,0,NaN,Not remote,7,0,...,0,0,0,0,0,1,0,0,0,NaN
182,1015,United States,54000.000000,1,0,1,5000.0,Not remote,10,0,...,0,0,0,0,0,1,0,0,1,NaN
186,1024,United States,47000.000000,1,0,1,NaN,Not remote,9,0,...,0,0,0,0,0,1,0,0,1,NaN
195,1073,United Kingdom,37500.000000,4,1,1,100.0,Not remote,8,1,...,0,0,0,0,0,1,0,0,1,NaN
209,1150,United States,125000.000000,9,0,1,20.0,Not remote,8,0,...,0,0,1,0,0,1,0,0,1,NaN
219,1190,India,10277.492290,1,1,1,10.0,Not remote,4,0,...,0,0,0,0,0,1,0,0,1,NaN
220,1191,United States,130000.000000,7,1,0,10000.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,1,NaN
222,1211,India,16150.345030,3,0,0,1.0,Not remote,7,0,...,0,0,0,0,0,1,0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6861,50518,Germany,34946.236560,15,1,1,1.0,Remote,5,0,...,0,1,0,0,0,1,0,1,1,NaN
6873,50594,United States,140000.000000,20,0,1,1.0,Remote,10,0,...,0,0,1,1,0,1,0,0,1,NaN
6875,50608,United Kingdom,47187.500000,1,0,0,500.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,0,NaN
6876,50610,United Kingdom,53750.000000,6,0,1,10000.0,Not remote,6,0,...,0,0,1,1,0,1,0,0,1,NaN
6883,50632,Canada,53030.303030,1,0,1,10.0,Not remote,10,0,...,0,0,0,0,0,1,0,0,1,NaN
6886,50652,Canada,78787.878790,5,1,1,100.0,Not remote,8,0,...,1,0,0,0,0,1,0,0,1,NaN
6892,50684,Germany,32258.064520,2,1,1,10000.0,Not remote,8,0,...,0,0,0,0,0,1,0,1,1,NaN
6894,50691,India,17618.558210,7,0,1,100.0,Not remote,6,0,...,0,1,0,0,0,1,0,0,0,NaN
6898,50727,United Kingdom,53750.000000,3,0,1,20.0,Not remote,3,0,...,0,0,0,0,0,1,0,0,0,NaN
6905,50794,United Kingdom,52500.000000,16,0,1,10.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,1,NaN
6909,50816,Germany,30967.741940,8,1,1,20.0,Not remote,2,0,...,0,1,0,0,0,1,0,1,1,NaN
6913,50868,United States,77500.000000,3,0,0,20.0,Not remote,6,0,...,0,0,0,0,0,1,0,0,1,NaN
6917,50907,India,1233.299075,0,1,1,1.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,0,NaN
6929,50981,Germany,68817.204300,20,1,0,1000.0,Not remote,5,0,...,0,0,0,0,0,1,0,0,1,NaN
6934,50996,United States,155000.000000,2,0,1,1000.0,Not remote,10,0,...,0,0,0,0,0,1,0,0,0,NaN
6937,51017,United States,143000.000000,20,1,1,10000.0,Not remote,8,0,...,1,1,0,1,0,1,0,0,1,NaN
6938,51021,United States,110000.000000,5,0,0,20.0,Not remote,9,0,...,0,0,0,0,0,1,0,0,1,NaN
6941,51060,India,23491.410950,9,0,0,10000.0,Not remote,5,0,...,0,0,0,0,0,1,0,0,0,NaN
6942,51071,United Kingdom,36250.000000,4,0,1,100.0,Not remote,7,0,...,0,0,1,0,0,1,0,1,1,NaN
6951,51116,United States,80250.000000,3,1,1,1000.0,Not remote,10,0,...,0,0,0,0,0,1,0,0,1,NaN
6953,51123,United States,71000.000000,1,1,0,10000.0,Not remote,10,0,...,0,1,0,0,0,1,0,0,1,NaN
6956,51136,United States,15000.000000,3,1,1,1.0,Remote,6,1,...,0,0,0,0,1,1,0,1,1,NaN
6958,51154,Germany,17204.301080,3,1,1,10000.0,Not remote,9,0,...,0,0,0,0,0,1,0,0,0,NaN
6959,51163,India,15416.238440,5,1,1,100.0,Remote,6,1,...,0,0,0,0,0,1,0,0,1,NaN
6965,51237,India,7928.351197,5,1,0,100.0,Not remote,7,0,...,0,0,0,0,0,1,0,0,0,NaN
6969,51260,United Kingdom,53750.000000,11,0,1,100.0,Not remote,6,0,...,1,0,0,0,0,1,0,0,1,NaN
6972,51275,Germany,48387.096770,5,1,1,100.0,Not remote,9,0,...,0,1,0,0,0,1,0,1,1,NaN
6973,51277,Germany,8602.150538,1,1,0,10.0,Not remote,9,0,...,0,0,0,0,0,1,0,0,0,NaN
6987,51344,India,4228.453972,2,0,1,1.0,Not remote,10,0,...,0,0,0,0,0,1,0,0,0,NaN
6990,51391,United States,40000.000000,3,0,1,1.0,Not remote,6,0,...,0,0,0,0,0,1,0,0,1,NaN

In [133]:
d1

,RespondentID,Country,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,Remote,CareerSatisfaction,Datascientist,...,DevOps,Embedded developer,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,
2,18,United States,130000.000000,20,1,1,1000.0,Remote,9,0,...,1,1,0,0,0,0,1,0,1,NaN
3,19,United States,82500.000000,3,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
4,26,United States,175000.000000,16,0,1,10000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
5,55,Germany,64516.129030,4,0,0,1000.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,1,NaN
6,62,India,6636.323594,1,0,1,5000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
7,71,United States,65000.000000,1,0,1,20.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
8,73,United States,120000.000000,20,1,1,100.0,Remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
9,77,United States,96283.000000,20,1,1,1000.0,Remote,10,0,...,0,0,0,0,0,0,0,0,1,NaN
10,82,United States,110000.000000,13,0,1,20.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
11,96,Germany,53763.440860,4,1,0,5000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
14,104,United States,51000.000000,1,0,0,20.0,Not remote,10,0,...,0,0,0,0,0,0,0,0,1,NaN
15,111,United Kingdom,32500.000000,1,1,0,10.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,1,NaN
17,116,United States,90000.000000,10,1,0,10.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
20,135,United States,92500.000000,14,1,1,100.0,Not remote,8,0,...,1,0,0,0,0,0,0,0,1,NaN
21,136,United Kingdom,32500.000000,2,0,1,10.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
22,144,United Kingdom,43750.000000,1,1,1,1.0,Not remote,5,1,...,0,0,1,1,0,0,0,0,1,NaN
23,150,United Kingdom,113750.000000,20,1,1,20.0,Not remote,9,0,...,1,0,0,0,0,1,0,0,1,NaN
24,157,United States,80000.000000,5,0,0,500.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
25,158,United States,100297.000000,15,0,1,100.0,Remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
26,170,United States,100000.000000,14,0,1,20.0,Not remote,7,0,...,1,0,0,0,0,0,0,1,1,NaN
27,178,United States,120000.000000,4,0,1,20.0,Not remote,10,0,...,1,0,0,0,0,1,0,1,1,NaN
28,183,United Kingdom,131250.000000,14,0,0,20.0,Not remote,10,0,...,0,0,1,1,0,1,0,0,1,NaN
29,184,India,6606.959330,1,1,1,NaN,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
30,192,Germany,10752.688170,1,0,1,10.0,Not remote,8,0,...,0,1,0,0,0,0,0,1,1,NaN
31,193,Canada,87121.212120,10,0,0,20.0,Not remote,6,0,...,0,0,0,0,0,0,0,0,1,NaN
32,196,United States,66000.000000,7,0,0,1000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
34,207,Canada,62121.212120,9,0,0,20.0,Not remote,6,0,...,1,0,0,0,0,0,0,0,1,NaN
35,210,Canada,54545.454550,8,0,0,1000.0,Not remote,10,0,...,0,0,0,0,0,0,0,1,1,NaN
37,217,United States,50000.000000,15,1,1,1.0,Remote,10,0,...,0,0,0,0,0,0,0,1,1,NaN
38,220,United States,50000.000000,2,1,1,10.0,Not remote,4,0,...,0,0,0,0,0,1,0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6947,51087,India,5872.852738,1,1,0,1000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6948,51101,United Kingdom,55000.000000,6,1,1,1.0,Remote,7,0,...,1,0,0,0,0,0,0,0,1,NaN
6951,51116,United States,80250.000000,3,1,1,1000.0,Not remote,10,0,...,0,0,0,0,0,1,0,0,1,NaN
6952,51121,United States,76000.000000,20,1,1,1000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6953,51123,United States,71000.000000,1,1,0,10000.0,Not remote,10,0,...,0,1,0,0,0,1,0,0,1,NaN
6956,51136,United States,15000.000000,3,1,1,1.0,Remote,6,1,...,0,0,0,0,1,1,0,1,1,NaN
6957,51150,India,16884.451620,4,1,1,1000.0,Not remote,7,0,...,0,0,0,0,0,0,0,1,1,NaN
6959,51163,India,15416.238440,5,1,1,100.0,Remote,6,1,...,0,0,0,0,0,1,0,0,1,NaN
6960,51168,Germany,60215.053760,9,1,0,1.0,Remote,4,1,...,1,0,0,0,0,0,1,0,1,NaN
6961,51179,Germany,48387.096770,4,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
6962,51184,Germany,60215.053760,13,1,0,10000.0,Remote,10,0,...,1,0,0,0,1,0,0,0,1,NaN
6963,51189,United Kingdom,56250.000000,3,0,1,10.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6964,51217,United States,110000.000000,20,0,1,1000.0,Remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6966,51247,India,14975.774480,6,1,1,10.0,Not remote,8,0,...,0,0,1,0,0,0,0,1,1,NaN
6968,51256,Germany,69892.473120,3,0,1,1.0,Remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6969,51260,United Kingdom,53750.000000,11,0,1,100.0,Not remote,6,0,...,1,0,0,0,0,1,0,0,1,NaN
6970,51267,United States,80000.000000,5,1,1,10000.0,Not remote,8,0,...,0,1,0,0,0,0,0,0,1,NaN
6971,51272,United Kingdom,45000.000000,13,0,0,20.0,Not remote,3,0,...,0,0,0,0,0,0,0,0,1,NaN
6972,51275,Germany,48387.096770,5,1,1,100.0,Not remote,9,0,...,0,1,0,0,0,1,0,1,1,NaN
6974,51284,Germany,41935.483870,1,0,1,20.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6975,51285,United Kingdom,43750.000000,3,1,1,1000.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,1,NaN
6976,51294,United States,88000.000000,4,0,0,100.0,Not remote,7,0,...,1,0,0,0,0,0,0,0,1,NaN
6979,51302,United States,75000.000000,9,0,0,20.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6980,51310,United States,52000.000000,1,1,1,100.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6981,51311,United States,50000.000000,1,0,1,1.0,Not remote,7,0,...,0,0,0,0,0,0,0,1,1,NaN
6984,51329,India,4404.639554,5,0,1,1.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6985,51336,United Kingdom,88750.000000,8,0,1,1000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6988,51356,United Kingdom,33750.000000,1,1,1,100.0,Not remote,6,0,...,0,0,0,0,0,0,0,0,1,NaN
6989,51388,United States,58000.000000,1,0,1,100.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6990,51391,United States,40000.000000,3,0,1,1.0,Not remote,6,0,...,0,0,0,0,0,1,0,0,1,NaN

In [167]:
stack[(stack.Mobile developer==1) & (stack.Web developer == 1)]

SyntaxError: invalid syntax (<ipython-input-167-405dc8647c03>, line 1)

In [168]:
stack[(stack['Mobile developer'] == 1 & stack['Web developer'] == 1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [135]:
stack.groupby('Country')['Salary'].max()

Country
Canada            151515.1515
Germany           140000.0000
India             163134.7967
United Kingdom    193750.0000
United States     197000.0000
Name: Salary, dtype: float64

In [136]:
stack.groupby('Country')['YearsCodedJob'].mean()

Country
Canada            7.523425
Germany           7.058947
India             3.696697
United Kingdom    7.315748
United States     8.397877
Name: YearsCodedJob, dtype: float64

In [137]:
def get_label(x):
    if x<20:
        return 'Low'
    elif x>=20 and x<=1000:
        return 'medium'
    
    else:
        return 'High'

In [139]:
stack['Company_label']=stack['CompanySizeNumber'].map(get_label)

In [ ]:
lc['grant_rate']=lc['funded_amnt']/lc['loan_amnt']

In [146]:
stack.loc[stack['Company_label'] == 'Low'].shape

(1156, 24)